
.studentsHero{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f4f7fc;
    background: linear-gradient(135deg, #f8fbfd, #eaf2f8, #dce9f3);
}

.studentCont{
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.firstContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #000;
}

.firstContainer h2{
    font-size: 38px;
    font-weight: 600;
    font-family: sans-serif;
}

.firstContainer span{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 30px;
}

.DownloadBtn{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.DownloadBtn button{
    width: 45%;
    height: 50px;
    background-color: #030c75;
    color: #010409;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #fff;
    cursor: pointer;
    box-shadow:  0 10px 15px -3px rgb(0, 20, 77), 0 4px 6px -4px rgb(0, 23, 87);
}

.DownloadBtn button .DapkFontStyle{
    font-size: 15px;
    font-weight: 500;
    font-family: "Mona Sans", sans-serif;
    color: #fff;
}

.mvpOutline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: auto;
    gap: 30px;
}

.mvpCont{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    color: #fff;
    gap: 20px;
    border-radius: 0.75rem;
    align-items: center;
    padding: 1.5rem;
    background-color: #f9fafb;
    backdrop-filter: blur(15px);
    box-shadow:  0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.mvpCont .icon{
    width: 60px;
    height: 60px;
}

.mvpCont .mvpTxt{
    color: #000;
    font-family: "Mona Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}


/* Ai Spec */

.AiSpec{
    width: 60%;
    height: auto;
    margin: 180px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.specHeader{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.specHeader h2{
    font-family: "Mona Sans", sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.specHeader p{
    font-family: "Mona Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.specBody{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.specBodyTop{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 2px solid #010409;
}

.specBodyTop h4{
    font-size: 24px;
    font-weight: 600;
    font-family: "Mona Sans", sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-left: 10px;
}

.specBodyTop h4::after{
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    width: 150px;
    height: 5px;
    background-color: #010409;
}

.specBodyTop span{
    font-size: 16px;
    font-weight: 500;
    font-family: "Mona Sans", sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.specDropDown{
    position: absolute;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #010409;
    color: #fff;
    width: auto;
    padding: 10px 0;
    height: auto;
    border-radius: 6px;
}

.specDropDown div{
    padding: 10px 15px;
    cursor: pointer;
}

.specDropDown div:hover{
    color: #d3d3d3;
}

.specBodyCont{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
}

.bodyContLeft{ 
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bodyContLeft h4{
    font-size: 26px;
    font-weight: 600;
    font-family: "Mona Sans", sans-serif;
}

.bodyContLeft p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Mona Sans", sans-serif;
    line-height: 24px;
}

.bodyContLeft span{
    font-size: 16px;
    font-weight: 400;
    font-family: "Mona Sans", sans-serif;
    color: #404041;
    align-self: flex-start;
    margin-top: 40px;
    cursor: pointer;
}

.bodyContRight{
    width: 40%;
    height: auto;
}

.bodyContRight img{
    width: 100%;
    height: 400px;
}

/* CTA SECTION */
.CtaSection{
    width: 100%;
    height: 500px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010409;
}
.CtaSectionCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: auto;
    gap: 20px;
    justify-content: center;
}

.ctaRight{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.ctaRight h2{
    font-size: 35px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    line-height: 44px;
    text-align: center;
}

.ctaRight p{
    font-family: "Mona Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.LearnMore{
    width: 45%;
    height: 50px;
    background-color: #fff;
    color: #010409;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}




.mvpPopupStyling{
    font-size: 15px;
    font-weight: 500;
    color: #141414f6;
    line-height: 20px;
    font-family: "Roboto", sans-serif;
    padding-bottom: 20px;
}




@media screen and (max-width: 1783px) {
    .studentCont {
        width: 80%;
    }

    .mvpOutline {
        width: 80%;
    }
}

@media screen and (max-width: 1300px) {

    .studentCont {
        width: 80%;
        margin: 60px 0;
    }
    .firstContainer h2 {
        display: none;
        font-size: 28px;
    }
        
    .DownloadBtn {
        flex-direction: column;
    }

    .DownloadBtn button {
        width: 100%;
    }

    .studentsHero .secondContainer img {
        width: 400px;
        height: 400px;
    }

    .AiSpec {
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    .studentCont {
        margin-top: 60px;
    }

    .firstContainer {
        gap: 20px;
    }

    .firstContainer h2 {
        display: flex;
        font-size: 26px;
        line-height: 40px;
    }

    .mvpOutline {
        width: 80%;
        gap: 20px;
        flex-wrap: wrap;
    }

    .mvpCont {
        width: 48%;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 860px) {
    .studentsHero {
        height: auto;
    }

    .studentsHero .studentCont {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px;
    }

    .studentsHero .studentCont .firstContainer {
        width: 100%;
    }

    .studentsHero .secondContainer img {
        width: 100%;
        height: 400px;
    }

    .mvpOutline {
        flex-direction: column;
        width: 100%;
        margin: 40px 0;
        gap: 40px;
    }

    .mvpCont {
        width: 80%;
        flex-direction: row;
    }

    .specHeader {
        width: 100%;
    }

    .AiSpec {
        gap: 80px;
    }

    .specHeader h2 {
        font-size: 30px;
    }

    .bodyContLeft h4 {
        font-size: 26px;
    }

    .specBody {
        gap: 60px;
    }

    .specBodyCont {
        flex-direction: column;
    }

    .bodyContLeft, .bodyContRight {
        width: 80%;
        gap: 10px;
    }

    .bodyContLeft p {
        line-height: 28px;
        font-size: 16px;
    }

    .ctaRight h2 {
        text-align: center;
    }

    .CtaSectionCont {
        width: 80%;
    }

    .specBodyTop {
        padding: 10px 10px;
    }

    .specBodyTop h4::after {
        bottom: -13.5px;
        width: 100px;
    }

    .bodyContLeft span {
        margin-top: 10px;
    }

    .bodyContRight img {
        height: 200px;
    }

    .specBodyTop h4 {
        font-size: 14px;
    }
}

@media screen and (max-width: 560px) {
    .studentsHero {
        padding: 120px 30px;
    }
    .studentsHero .studentCont {
        width: 100%;
    }

    .AiSpec .specHeader h2 {
        font-size: 20px;
    }

    .mvpCont {
        width: 100%;
    }

    .mvpOutline {
        gap: 20px;
    }

    .CtaSectionCont {
        width: 90%;
    }

    .ctaRight {
        width: 100%;
    }

    .ctaRight h2 {
        text-align: center;
        font-size: 24px;
    }

    .firstContainer h2 {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: initial;
    }

    .firstContainer span {
        font-size: 14px;
    }

    .firstContainer {
        gap: 10px;
    }

    .DownloadBtn {
        margin-top: 20px;
    }

    .AiSpec {
        gap: 30px;
    }

    .specBody {
        gap: 30px;
    }

    .specBody .specBodyTop h4 {
        font-size: 14px;
    }

    .specDropDown {
        width: 70%;
        left: 20%;
        text-align: center;
    }

    .specDropDown div{
        border-bottom: 1px solid #404041;
    }

    .specHeader p {
        font-size: 14px;
    }

    .mvpCont .mvpTxt {
        font-size: 14px;
        line-height: 20px;
    }

    .bodyContLeft, .bodyContRight {
        width: 100%;
        gap: 20px;
    }

    .AiSpec .bodyContLeft h4 {
        font-size: 20px;
    }

    .bodyContLeft span {
        color: #404041;
    }

    .ctaRight p {
        font-size: 14px;
    }

    .bodyContRight img{
        height: 300px;
    }

}

@media screen and (max-width: 420px) {
    .mvpCont {
    flex-direction: column;
    }
}