.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: #0d1117;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  transition: filter 0.2s ease;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 98;
  border: 2px solid #0d1117;
  pointer-events: none;
  transition: filter 0.2s ease;
}

/** Shiny Texts **/

.shiny-text {
  color:rgba(0, 0, 0, 0.64); /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}